<div class="form">

{% set form = this.beginWidget('CActiveForm', {
    'id': 'gallery-images-form',
    'enableAjaxValidation': false,
}) %}

	<p class="note">Поля помеченные <span class="required">*</span> обязательны для заполнения.</p>

	<div style="display: inline-block;vertical-align: top;">
    <div class="row">
        {{ form.labelEx(model, 'owner_id') | raw }}
        {{ form.dropDownList(model, 'owner_id', model.items) | raw }}
        {{ form.error(model, 'owner_id') | raw }}
    </div><!-- /.row -->

    <div class="row">
        {{ form.labelEx(model, 'thumb') | raw }}
        {{ form.fileField(model, 'ajaxthumb', {'id':'forum_image'}) | raw }}
        {{ form.hiddenField(model, 'thumb', {'id':'real_thumb'}) | raw }}
        {{ form.error(model, 'thumb') | raw }}
        {% if model.thumb %}
            <img style="margin: 0px 20px 0px 0px;" class="preview" src="/images/{{ model.thumb }}" width="80" />
        {% endif %}
        <a href="" class="btn btn-info btn-lg" onclick="return uploadImage();">Выбрать</a>
        {{ C.Html.htmlButton('Загрузить',{
                'onclick':'javascript: send();',
                'id':'post-submit-btn',
                'class':'btn btn-success btn-lg post_submit',
            }, true) | raw
        }}
        <a href="" class="btn btn-danger btn-lg" onclick="return clearImage();">Очистить</a>
    </div><!-- /.row -->

    <div class="row">
        {{ form.labelEx(model, 'label') | raw }}
        {{ form.textField(model, 'label', {'size': 160, 'maxlength': 255}) | raw }}
        {{ form.error(model, 'label') | raw }}
    </div><!-- /.row -->

    <div class="row">
        {{ form.labelEx(model, 'description') | raw }}
        {{ form.textArea(model, 'description', {'rows': 6, 'cols': 50}) | raw }}
        {{ form.error(model, 'description') | raw }}
    </div><!-- /.row -->

	<div class="row">
        {{ form.labelEx(model, 'status') | raw }}
        {{ form.dropDownList(model, 'status', {'1': 'Опубликована', '0': 'Удалена', '2': 'В архиве'}) | raw }}
        {{ form.error(model, 'status') | raw }}
    </div><!-- /.row -->
</div>

	<div class="row buttons">
		{{ C.Html.submitButton(model.isNewRecord ? 'Создать' : 'Сохранить') | raw }}
	</div>

{% do this.endWidget %}

{{ void(App.clientScript.registerCoreScript('jquery')) }}
{{ void(App.clientScript.registerCoreScript('jquery.ui')) }}
{{ void(App.clientScript.registerScriptFile('/scripts/upload.js')) }}

</div><!-- form -->