{% extends "views/layouts/admin.twig" %}

{% set galleryactive = true %}

{% block content %}

	{{ void(App.clientScript.registerCoreScript('jquery')) }}
	{{ void(App.clientScript.registerCoreScript('jquery.ui')) }}

	{{ void(App.clientScript.registerScript('search', "
	    $('.search-button').click(function(){
			$('.search-form').toggle();
			return false;
		});
		$('.search-form form').submit(function(){
			$('#galleries-grid').yiiGridView('update', {
				data: $(this).serialize()
			});
			return false;
		});
	")) }}

	<h1>Управление галереями</h1>

	<a href="/admin/add_gallery/" class="btn btn-success btn-lg" role="button">Добавить галлерею</a>
	<a href="/admin/galleries_config/" class="btn btn-default btn-lg" role="button">Конфигурация</a>

	{{ C.Html.link('Расширенный поиск', '#', {'class': 'btn btn-default btn-lg search-button'}) | raw }}
	<div class="search-form" style="display:none">
	{% include 'views/galleries/_search.twig' with {'model': model} %}
	</div><!-- search-form -->

	{% set qwert = this.widget('ext.JTreeTable.JTreeTable', {
		'id':'galleries-grid',
		'dataProvider': model.search,
		'filter':model,
		'template':'{pager} {items} {pager}',
		'itemsCssClass':'table table-striped',
		'primaryColumn': 'id',
		'parentColumn': 'owner_id',
		'ajaxUpdate':'false', 
		'ajaxVar':'false',
		'jstree_options': {
          	'initialState':'expanded',
        },
		'columns':[
	        {
	            'name':'label',
	            'type':'raw',
	            'value':'CHtml::link(CHtml::encode($data->label." [ ".$data->id." ]"), $data->editurl)',
	        },
	        {
	            'name':'create_date',
	            'value':'Yii::app()->dateFormatter->format("dd MMM y",strtotime($data->create_date))',
	            'filter':false,
	        },
			{
				'class':'CButtonColumn',
				'template':'{top}{up}{down}{bottom}&nbsp;&nbsp;&nbsp;{include}&nbsp;&nbsp;&nbsp;{view}{update}{delete}',
				'buttons':{
			        'top' :{
			            'label':'В начало списка',
			            'imageUrl':'/images/go-top.png',
			            'url':'"/galleries/movetop/".$data->id',
			            'visible':'true',
			        },
			        'up' :{
			            'label':'На один уровень вверх',
			            'url':'"/galleries/moveup/".$data->id',
			            'visible':'true',
			            'imageUrl':'/images/go-up.png',
			        },
			        'down' :{
			            'label':'На один уровень вниз',
			            'imageUrl':'/images/go-down.png',
			            'url':'"/galleries/movedown/".$data->id',
			            'visible':'true',
			        },
			        'bottom' :{
			            'label':'В конец списка',
			            'url':'"/galleries/movebottom/".$data->id',
			            'visible':'true',
			            'imageUrl':'/images/go-bottom.png',
			        },
			        'include' :{
			            'label':'Посмотреть вложенные элементы',
			            'url':'"/admin/gallery_images/".$data->id',
			            'visible':'true',
			            'imageUrl':'/images/include.png',
			        },
			    },
			},
		],
	},true) %}

	{{ qwert|raw }}

{% endblock %}