{% extends model.template %}

{* ============== ВЫВОД ГЛАВНОЙ СТРАНИЦЫ ============= *}

{% block maincontent %}
	
    <div class="b-dop-serv">
    	<div class="titl">{{ model.label | raw }}</div>
        {{ model.full_text | raw }}
    </div><!--end b-dop-serv-->

{% endblock %}

{* =========== ВЫВОД КОНТАКТНОЙ ИНФОРМАЦИИ =========== *}

{% block coontactscontent %}
    
    <h2>{{ model.label | raw }}</h2>
        {{ model.full_text | raw }}

{% endblock %}

{* ============== ВЫВОД ОБЫЧНЫХ СТРАНИЦ ============= *}

{% block innercontent %}
    <h1>{{ model.label | raw }}</h1>
    <div class="content">
        <div class="b-about">
            <div class="img"><img alt="" src="/images/{{ model.thumb | raw }}"></div>
            {{ model.full_text | raw }}
        </div><!--end b-about-->
    </div>
    <div class="bs-jobs">
                {{ this.widget('Gallery', {'rootId':registry.sg(model.id), 'label':'Наши работы', 'showdesc': false}, true) | raw }}
            </div><!--end bs-jobs-->
            <div class="b-otziv">
                {{ this.widget('Otziv', {'pageId':model.id,'visible':registry.fbs(model.id)}, true) | raw }}
                <div class="form">
                    <h2>Оставить заявку</h2>
                    <table cellspacing="0" cellpadding="0">
                      <tr>
                        <td><input name="" class="pole" value="" placeholder="Имя" type="text"></td>
                      </tr>
                      <tr>
                        <td><input name="" class="pole" value="" placeholder="Электронная почта" type="text"></td>
                      </tr>
                      <tr>
                        <td><input name="" class="pole" value="" placeholder="Номер телефона" type="text"></td>
                      </tr>
                      <tr>
                        <td><textarea name="" cols="" rows="" placeholder="Сообщение"></textarea></td>
                      </tr>
                      <tr>
                        <!-- <td><input class="btn1" name="" type="submit" value="Отправить"></td> -->
                      </tr>
                    </table>
                </div><!--end form-->
            </div><!--end b-otziv-->
            <div class="big-tel">
                <div class="phone"><span>(3952) </span>672-295</div>
            ЗВОНИТЕ
            
            </div><!--end big-tel-->

{% endblock %}
