<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<!--[if IE]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
	<title>{{this.pagetitle}}</title>
	<link rel="stylesheet" href="{{ App.baseUrl }}/css/admin.css?v5" type="text/css" media="screen, projection" />
	<link rel="stylesheet" href="{{ App.baseUrl }}/add-ons/bootstrap/css/bootstrap.css?v2" />
	<link rel="stylesheet" href="{{ App.baseUrl }}/add-ons/bootstrap/css/bootstrap-responsive.css?v2" />
	
	<script type="text/javascript" src="{{ App.baseUrl }}/add-ons/bootstrap/js/bootstrap.js?v2"></script>
	<!--[if lte IE 6]><link rel="stylesheet" href="{{ App.baseUrl }}/css/style_ie.css" type="text/css" media="screen, projection" /><![endif]-->
</head>

<body>

<div id="wrapper">

	<header id="header">
		<h1 class="mainlabel">PLAZA CMS 3.0</h1>
		<div id="usermnu">
			<a href="{{ App.baseUrl }}/admin/edit_user/1">Администратор</a>
			<a href="{{ App.baseUrl }}/site/logout/">Выход</a>
			<a href="{{ App.baseUrl }}/admin/help/">Справка</a>
		</div>
	</header><!-- #header-->

	<section id="middle">
		<div id="midwrap">
		<div id="container">
			<div id="content"><div id="contwrap">
				{% block content %}

				{% endblock %}
			</div></div><!-- #content-->
		</div><!-- #container-->

		<aside id="sideLeft">
			<div class="tabbable tabs-left">
				<ul class="nav nav-tabs">
					<li {% if pageactive %} class="active" {% endif %}><a href="/admin/pages/" onclick="document.location.href='/admin/pages/'" data-toggle="tab">
						<img src="/images/pages_btn.png"  width="50" height="50" /><br />Страницы
					</a></li>
					<li {% if feedbackctive %} class="active" {% endif %}><a href="/admin/feedback/" onclick="document.location.href='/admin/feedback/'" data-toggle="tab">
						<img src="/images/forms_btn.png" width="50" height="50" /><br />Формы
					</a></li>
					<li {% if galleryactive %} class="active" {% endif %}><a href="/admin/galleries/" onclick="document.location.href='/admin/galleries/'" data-toggle="tab">
						<img src="/images/gallery_btn.png" width="50" height="50" /><br />Галереи
					</a></li>
					<li {% if moduleactive %} class="active" {% endif %}><a href="/admin/modules/" onclick="document.location.href='/admin/modules/'" data-toggle="tab">
						<img src="/images/modules_btn.png" width="50" height="50" /><br />Модули
					</a></li>
					<li {% if optionactive %} class="active" {% endif %}><a href="/admin/options" onclick="document.location.href='/admin/options/'" data-toggle="tab">
						<img src="/images/options_btn.png" width="50" height="50" /><br />Настройки
					</a></li>
				</ul>
				<div class="tab-content">
					<div class="tab-pane active" id="lA">
						<br /><p style="color: #666;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					</div>
					<div class="tab-pane" id="lB">
						<br /><p style="color: #666;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					</div>
					<div class="tab-pane" id="lC">
						<br /><p style="color: #666;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					</div>
					<div class="tab-pane" id="lD">
						<br /><p style="color: #666;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					</div>
					<div class="tab-pane" id="lE">
						<br /><p style="color: #666;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					</div>
					<div class="tab-pane" id="lF">
						<br /><p style="color: #666;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					</div>

				</div>
			</div>
		</aside><!-- #sideLeft -->
		</div>
	</section><!-- #middle-->

</div><!-- #wrapper -->

<footer id="footer">
	<p><i>Разработано в стдии IN-SITE</i></p>
</footer><!-- #footer -->

</body>
</html>