<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<!--[if IE]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
	<title>{{this.pagetitle}}</title>
	<link rel="stylesheet" href="{{ App.baseUrl }}/css/admin.css?v5" type="text/css" media="screen, projection" />
	<link rel="stylesheet" href="{{ App.baseUrl }}/add-ons/bootstrap/css/bootstrap.css?v2" />
	<link rel="stylesheet" href="{{ App.baseUrl }}/add-ons/bootstrap/css/bootstrap-responsive.css?v2" />
	
	<script type="text/javascript" src="{{ App.baseUrl }}/add-ons/bootstrap/js/bootstrap.js?v2"></script>
	<!--[if lte IE 6]><link rel="stylesheet" href="{{ App.baseUrl }}/css/style_ie.css" type="text/css" media="screen, projection" /><![endif]-->
</head>

<body>

<div id="wrapper">

	<header id="header">
		<h1 class="mainlabel">PLAZA CMS 3.0</h1>
		<div id="usermnu">
			<a href="{{ App.baseUrl }}/admin/edit_user/1">Администратор</a>
			<a href="{{ App.baseUrl }}/site/logout/">Выход</a>
			<a href="{{ App.baseUrl }}/admin/help/">Справка</a>
		</div>
	</header><!-- #header-->

	<section id="middle">
		<div id="midwrap">
		<div id="container">
			<div id="content"><div id="contwrap">
				{% block content %}

				{% endblock %}
			</div></div><!-- #content-->
		</div><!-- #container-->

		<aside id="sideLeft">
			<div class="tabbable tabs-left">
				<ul class="nav nav-tabs">
					<li {% if pageactive %} class="active" {% endif %}><a href="/admin/pages/" onclick="document.location.href='/admin/pages/'" data-toggle="tab">
						<img src="/images/pages_btn.png"  width="35" height="35" /><br />Страницы
					</a></li>
					<li {% if feedbackctive %} class="active" {% endif %}><a href="/admin/feedback/" onclick="document.location.href='/admin/feedback/'" data-toggle="tab">
						<img src="/images/forms_btn.png" width="35" height="35" /><br />Формы
					</a></li>
					<li {% if galleryactive %} class="active" {% endif %}><a href="/admin/galleries/" onclick="document.location.href='/admin/galleries/'" data-toggle="tab">
						<img src="/images/gallery_btn.png" width="35" height="35" /><br />Галереи
					</a></li>
					<li {% if moduleactive %} class="active" {% endif %}><a href="/admin/modules/" onclick="document.location.href='/admin/modules/'" data-toggle="tab">
						<img src="/images/modules_btn.png" width="35" height="35" /><br />Модули
					</a></li>
					<li {% if optionactive %} class="active" {% endif %}><a href="/admin/options" onclick="document.location.href='/admin/options/'" data-toggle="tab">
						<img src="/images/options_btn.png" width="35" height="35" /><br />Настройки
					</a></li>
				</ul>
				<div class="tab-content">
					<div class="tab-pane {% if pageactive %} active {% endif %}" id="lA">
						<br /><p style="color: #666;">В данном разделе вы можете редактировать информацию на страницах вашего сайта, создавать новые страницы, а так же заниматься публикацией новостей.</p><br />
						<a style="display: block;padding: 10px 0px;text-align: center;border-top: 1px solid #B8B8B8;" href="/admin/pages/">Управление страницами</a>
						<a style="display: block;padding: 10px 0px;text-align: center;border-top: 1px solid #B8B8B8;" href="/admin/news/">Управление новостями</a>
					</div>
					<div class="tab-pane {% if feedbackctive %} active {% endif %}" id="lB">
						<br /><p style="color: #666;">В данном разделе вы можете читать сообщения пользователей с сайта, настраивать электронный адрес для оповещений с сайта, и отвечать пользователям.</p>
						<a style="display: block;padding: 10px 0px;text-align: center;border-top: 1px solid #B8B8B8;" href="/admin/fb_contacts/">Обратная связь</a>
						<a style="display: block;padding: 10px 0px;text-align: center;border-top: 1px solid #B8B8B8;" href="/admin/fb_otziv/">Отзывы</a>
						<a style="display: block;padding: 10px 0px;text-align: center;border-top: 1px solid #B8B8B8;" href="/admin/fb_order/">Заказы</a>
					</div>
					<div class="tab-pane {% if galleryactive %} active {% endif %}" id="lC">
						<br /><p style="color: #666;">В данном разделе вы можете редактировать медиа содержимое вашего сайта, создавать новые галереи, загружать изображения и управлять их отображением.</p><p style="color: #666;">Для просмотра, уже загруженных, изображений перейдите в раздел <q>Посмотреть вложенные изображения</q> интересующей вас галереи.</p>
					</div>
					<div class="tab-pane {% if moduleactive %} active {% endif %}" id="lD">
						<br /><p style="color: #666;">В данном разделе вы можете редактировать отдельные блоки вашего сайта, для того, что бы наать выберете интересующий вас модуль.</p><br />
						<a style="display: block;padding: 10px 0px;text-align: center;border-top: 1px solid #B8B8B8;" href="/admin/mod_slider/">Управление слайдером</a>
						<a style="display: block;padding: 10px 0px;text-align: center;border-top: 1px solid #B8B8B8;" href="/admin/mod_circles/">Управление кругами</a>
						<a style="display: block;padding: 10px 0px;text-align: center;border-top: 1px solid #B8B8B8;" href="/admin/mod_banners/">Управление баннерами</a>

					</div>
					<div class="tab-pane {% if optionactive %} active {% endif %}" id="lE">
						<br /><p style="color: #666;">В этом разделе вы можете управлять основными настройками и переменными окружения вашего сайта.</p>
					</div>

				</div>
			</div>
		</aside><!-- #sideLeft -->
		</div>
	</section><!-- #middle-->

</div><!-- #wrapper -->

<footer id="footer">
	<p><i>Разработано в студии IN-SITE</i></p>
</footer><!-- #footer -->

</body>
</html>