<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>{{ model.seo.title ? model.seo.title : model.label }}</title>
  <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
<link href="/css/reset.css" rel="stylesheet" />
<link href="/css/style.css" rel="stylesheet" />
  <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>

  <script type="text/javascript" src="/add-ons/source/jquery.fancybox.js?v=2.1.5"></script>
  <link rel="stylesheet" type="text/css" href="/add-ons/source/jquery.fancybox.css?v=2.1.5" media="screen" />

  <!-- Add Button helper (this is optional) -->
  <link rel="stylesheet" type="text/css" href="/add-ons/source/helpers/jquery.fancybox-buttons.css?v=1.0.5" />
  <script type="text/javascript" src="/add-ons/source/helpers/jquery.fancybox-buttons.js?v=1.0.5"></script>

  <!-- Add Thumbnail helper (this is optional) -->
  <link rel="stylesheet" type="text/css" href="/add-ons/source/helpers/jquery.fancybox-thumbs.css?v=1.0.7" />
  <script type="text/javascript" src="/add-ons/source/helpers/jquery.fancybox-thumbs.js?v=1.0.7"></script>

  <!-- Add Media helper (this is optional) -->
  <script type="text/javascript" src="/add-ons/source/helpers/jquery.fancybox-media.js?v=1.0.6"></script>
  <script type="text/javascript">
    $(document).ready(function() {
      $("a[rel=example_group]").fancybox({
      'padding' : 5
      
      });
    });
  </script>
  <script type="text/javascript">
    $(function(){

        jQuery('.pole.name').blur(function(){
        if(jQuery(this).val().length < 2){
          jQuery('.form_err_msg').remove();
          jQuery(this).addClass('err_pole').after('<span class="form_err_msg">Не верно заполнено поле. Пример: Александр</span>');
        } else {
          jQuery(this).removeClass('err_pole');
          jQuery('.form_err_msg').remove();
        }
      });
      jQuery('.pole.email').blur(function(){
        var re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;  
        if((jQuery(this).val().length < 2) || (!re.test(jQuery(this).val()))) {
          jQuery('.form_err_msg').remove();
          jQuery(this).addClass('err_pole').after('<span class="form_err_msg">Не верно заполнено поле. Пример: mail@mail.ru</span>');
        } else {
          jQuery(this).removeClass('err_pole');
          jQuery('.form_err_msg').remove();
        }
      });
      jQuery('.pole.phone').blur(function(){
        var re = /^\+?\d+$/;  
        if((jQuery(this).val().length < 2) || (!re.test(jQuery(this).val()))) {
          jQuery('.form_err_msg').remove();
          jQuery(this).addClass('err_pole').after('<span class="form_err_msg">Не верно заполнено поле. Пример: +79501234567</span>');
        } else {
          jQuery(this).removeClass('err_pole');
          jQuery('.form_err_msg').remove();
        }
      });
      jQuery('input[type=submit]').click(function(){
        var send = true;

        form = jQuery(this).parents('form');
        
        jQuery('input.pole', form).each(function(){
          console.log(jQuery(this));
          if(jQuery(this).val().length == 0){
            jQuery(this).addClass('err_pole').after('<span class="form_err_msg">Не верно заполнено поле.</span>');
          }
        })

        if(jQuery('input.err_pole', form).length > 0){
          send = false;
          console.log();
        }
        
        if(send === false){
          alert('Некоторые поля заполненны не верно.');
          return false;
        }
      });
    });
  </script>
</head>

<body>
<div class="over">
<div class="menu">
  <div class="all">
    <nav>
      {{ this.widget('MainMenu', {'rootId':0}, true) | raw }}
    </nav>
  </div><!--end all-->
</div><!--end menu-->
<div class="all">
  <header>
    <a class="logo" href="#"><img alt="" src="{{ App.baseUrl }}/images/logo.png">
        <span>{{ this.widget('SysRegistry', {'param':'phone'}, true) | raw }}</span></a>
    <div class="slogan">{{ this.widget('SysRegistry', {'param':'slogan'}, true) | raw }}</div><!--end slogan-->
        {{ this.widget('SysRegistry', {'param':'banner'}, true) | raw }}
        <div class="zammer-form">
            <h2>Вызвать замерщика</h2>
            <form method="post" action="/feedback/sendorder1/">
            <table cellspacing="0" cellpadding="0">
              <tr>
                <td><input name="Order[name]" class="pole name" value="" placeholder="Имя" type="text"></td>
              </tr>
              <tr>
                <td><input name="Order[email]" class="pole email" value="" placeholder="Электронная почта" type="text"></td>
              </tr>
              <tr>
                <td><input name="Order[phone]" class="pole phone" value="" placeholder="Номер телефона" type="text"></td>
              </tr>
              <tr>
                <td><textarea name="Order[message]" cols="" rows="" placeholder="Сообщение"></textarea></td>
              </tr>
              <tr>
                <td><input class="btn1" name="" type="submit" value="Отправить"></td>
              </tr>
            </table>
            </form>
        </div><!--end form-->
  </header>
  <div class="container">
          <h1>Фотогаллерея</h1>
    <div class="content">
      {% block innercontent %}

            {% endblock %}
    </div><!--end content-->
    </div><!--end container-->
</div><!--ed alll-->
<div class="f-clear"></div>
</div><!--end over-->
<div class="all">
  <footer>
    <div class="copy">© 2014 ASGroup</div>
    <div class="tel">{{ this.widget('SysRegistry', {'param':'phone'}, true) | raw }}</div>
        <div class="mail">{{ this.widget('SysRegistry', {'param':'email', 'maillink':true}, true) | raw }}</div>
        <div class="addr">{{ this.widget('SysRegistry', {'param':'address'}, true) | raw }}</div>
        <div class="design">Разработчик: <a href="http://in-site.ru" target="_blank" >In-Site</a></div>
    
    </footer>
</div><!--end all-->
</body>
</html>
