<!DOCTYPE html>
<html>
<head>
	<title>{{ model.seo.title ? model.seo.title : model.label }}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="{{ model.seo.meta_keywords }}">
    <meta name="description" content="{{ model.seo.meta_description }}">
	<!--[if IE]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
	<link href="{{ App.baseUrl }}/css/reset.css" rel="stylesheet" />
	<link href="{{ App.baseUrl }}/css/style.css" rel="stylesheet" />
	
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
	<script type="text/javascript" src="{{ App.baseUrl }}/scripts/slides.min.jquery.js"></script>
	<script type="text/javascript">
		$(function(){
			if($('#slides') != undefined){
                $('#slides').slides({
    				preload:false,
    				play: 5000,
    				pause: 2500,
    				effect: 'fade',
    				hoverPause: true
    			});
            }
            jQuery('.pole.name').blur(function(){
                if(jQuery(this).val().length < 2){
                  jQuery('.form_err_msg').remove();
                  jQuery(this).addClass('err_pole').after('<span class="form_err_msg">Не верно заполнено поле. Пример: Александр</span>');
                } else {
                  jQuery(this).removeClass('err_pole');
                  jQuery('.form_err_msg').remove();
                }
              });
              jQuery('.pole.email').blur(function(){
                var re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;  
                if((jQuery(this).val().length < 2) || (!re.test(jQuery(this).val()))) {
                  jQuery('.form_err_msg').remove();
                  jQuery(this).addClass('err_pole').after('<span class="form_err_msg">Не верно заполнено поле. Пример: mail@mail.ru</span>');
                } else {
                  jQuery(this).removeClass('err_pole');
                  jQuery('.form_err_msg').remove();
                }
              });
              jQuery('.pole.phone').blur(function(){
                var re = /^\+?\d+$/;  
                if((jQuery(this).val().length < 2) || (!re.test(jQuery(this).val()))) {
                  jQuery('.form_err_msg').remove();
                  jQuery(this).addClass('err_pole').after('<span class="form_err_msg">Не верно заполнено поле. Пример: +79501234567</span>');
                } else {
                  jQuery(this).removeClass('err_pole');
                  jQuery('.form_err_msg').remove();
                }
              });
              jQuery('input[type=submit]').click(function(){
                var send = true;

                form = jQuery(this).parents('form');
                
                jQuery('input.pole', form).each(function(){
                  console.log(jQuery(this));
                  if(jQuery(this).val().length == 0){
                    jQuery(this).addClass('err_pole').after('<span class="form_err_msg">Не верно заполнено поле.</span>');
                  }
                })

                if(jQuery('input.err_pole', form).length > 0){
                  send = false;
                  console.log();
                }
                
                if(send === false){
                  alert('Некоторые поля заполненны не верно.');
                  return false;
                }
              });
		});
	</script>
</head>

<body>
<div class="over">
<div class="menu">
	<div class="all">
		<nav>
			{{ this.widget('MainMenu', {'rootId':0}, true) | raw }}
		</nav>
	</div><!--end all-->
</div><!--end menu-->
<div class="all">
	<header>
        <a class="logo" href="/"><img alt="" src="{{ App.baseUrl }}/images/logo.png">
        <span>{{ this.widget('SysRegistry', {'param':'phone'}, true) | raw }}</span></a>
        <div class="slogan">{{ this.widget('SysRegistry', {'param':'slogan'}, true) | raw }}</div><!--end slogan-->
        {{ this.widget('SysRegistry', {'param':'banner'}, true) | raw }}
        <div class="zammer-form">
            <h2>Вызвать замерщика</h2>
            <form method="post" action="/feedback/sendorder1/">
            <table cellspacing="0" cellpadding="0">
              <tr>
                <td><input name="Order[name]" class="pole name" value="" placeholder="Имя" type="text"></td>
              </tr>
              <tr>
                <td><input name="Order[email]" class="pole email" value="" placeholder="Электронная почта" type="text"></td>
              </tr>
              <tr>
                <td><input name="Order[phone]" class="pole phone" value="" placeholder="Номер телефона" type="text"></td>
              </tr>
              <tr>
                <td><textarea name="Order[message]" cols="" rows="" placeholder="Сообщение"></textarea></td>
              </tr>
              <tr>
                <td><input class="btn1" name="" type="submit" value="Отправить"></td>
              </tr>
            </table>
            </form>
        </div><!--end form-->
    </header>
    {{ this.widget('SysRegistry', {'param':'slider', 'rootId':2}, true) | raw }}
    
    <div class="circles">
        {{ this.widget('SysRegistry', {'param':'sphere_module'}, true) | raw }}
    </div><!--end circlres-->
    <div class="b-news">
        {{ this.widget('News', {'count':3}, true) | raw }}
    </div><!--end b-news-->
    {% block maincontent %}

    {% endblock %}
</div><!--ed alll-->
<div class="f-clear"></div>
</div><!--end over-->
<div class="all">
	<footer>
        <div class="copy">© 2014 ASGroup</div>
        <div class="tel">{{ this.widget('SysRegistry', {'param':'phone'}, true) | raw }}</div>
        <div class="mail">{{ this.widget('SysRegistry', {'param':'email', 'maillink':true}, true) | raw }}</div>
        <div class="addr">{{ this.widget('SysRegistry', {'param':'address'}, true) | raw }}</div>
        <div class="design">Разработчик: <a href="http://in-site.ru" target="_blank" >In-Site</a></div>
    </footer>
</div><!--end all-->
</body>
</html>
