{% for i in range(1,5) %}
{% set item = this.getSpheres(i) %}
	<div class="circ ci{{ i }}">
	    <a href="{{ item.link }}">
	    <span class="ico"><img alt="" src="{{ App.baseUrl }}/images/{{ item.icon }}"></span>
	    <span class="txt">{{ item.label }}</span>
	    </a>
	</div>
{% endfor %}