{% extends "views/layouts/admin.twig" %}

{% set feedbackctive = true %}

{% block content %}

	{{ void(App.clientScript.registerCoreScript('jquery')) }}
	{{ void(App.clientScript.registerCoreScript('jquery.ui')) }}

	{{ void(App.clientScript.registerScript('search', "
	    $('.search-button').click(function(){
			$('.search-form').toggle();
			return false;
		});
		$('.search-form form').submit(function(){
			$('#galleries-grid').yiiGridView('update', {
				data: $(this).serialize()
			});
			return false;
		});
	")) }}

	<h1>Управление формой обратной связи</h1>

	<a href="/admin/galleries_config/" class="btn btn-default btn-lg" role="button">Конфигурация</a>

	{{ C.Html.link('Расширенный поиск', '#', {'class': 'btn btn-default btn-lg search-button'}) | raw }}
	<div class="search-form" style="display:none">
	{% include 'views/galleries/_search.twig' with {'model': model} %}
	</div><!-- search-form -->

	{% set qwert = this.widget('ext.JTreeTable.JTreeTable', {
		'id':'galleries-grid',
		'dataProvider': model.search,
		'filter':model,
		'template':'{pager} {items} {pager}',
		'itemsCssClass':'table table-striped',
		'primaryColumn': 'id',
		'parentColumn': 'id',
		'ajaxUpdate':'false', 
		'ajaxVar':'false',
		'jstree_options': {
          	'initialState':'expanded',
        },
		'columns':[
	        {
	            'name':'label',
	            'type':'raw',
	            'value':'CHtml::link(CHtml::encode($data->label." [ ".$data->id." ]"), $data->url)',
	        },
	        {
	            'name':'send_date',
	            'value':'Yii::app()->dateFormatter->format("dd MMM y",strtotime($data->send_date))',
	            'filter':false,
	        },
			{
				'class':'CButtonColumn',
				'template':'{view}{delete}',
			},
		],
	},true) %}

	{{ qwert|raw }}

{% endblock %}